.cabecera {
    position: relative;
    background-color: #1E2372;
    width: 100%;
    min-height: 13%;
    top: 0px;
    left: 0px;
    margin: 0;
}

.intro{
    position: relative;
    background-color: #ACACAC;
    width: 100%;
    min-height: 500px;
    margin: 0;
}